V1

[x] It should have a way to store books.
[x] It should have a way to create a book.
[x] It should have a way to add a book.
[x] It should have a way to remove a book.
[x] It should have a way to mark the book as read.