V2
[x] It should initialise the myBooks array with sample books.
[x] It should have a function to display books.
[x] The displayBooks function should display the details of each book.

V1
[x] It should have a function to store books.
[x] It should have a function to create a book.
[x] It should have a function to add a book.
[x] It should have a function to remove a book.
[x] It should have a function to mark the book as read.