V10
[] The add book form should be hidden on page load.
[] The add book button should make the add book form visible on click.
[] The add book form should have a way for the user to exit out of the add book form.

V9
[x] It should store myBooks and form input values in local storage.
[x] It should update local storage whenever one of the above are updated.
[x] It should clear the add book form each time a new book is added.

V8
[x] It should have a form for adding books.
[x] The form should add a book if it is submitted with all required details.

V7
[x] The remove buttons should only remove its respective book

V6
[x] It should have a list element to store each book.
[x] It should have an unordered list element to store each book's list element.
[x] The toggle read status buttons should update the display when clicked.

V5
[x] It should have a remove book button for each book.
[x] Each sample book should have a unique ID.
[x] Each sample book's toggle button should store the book's unique ID.
[x] The toggle read status function should take the `event` object.
[x] Each toggle read status button should only toggle the read status of its respective book.

V4
[x] It should have a toggle read status button for each book.
[x] The add book button should run addBook on click.
[x] The remove book button should run removeBook on click.
[x] The toggle read status button should run toggleBookReadStatus on click.

V3
[x] It should have a button to add a book.
[x] It should have a button to remove a book.
[x] It should have a button to toggle the read status of a book.

V2
[x] It should initialise the myBooks array with sample books.
[x] It should have a function to display books.
[x] The displayBooks function should display the author, title, pages and read status of each book.

V1
[x] It should have a function to store books.
[x] It should have a function to create a book.
[x] It should have a function to add a book.
[x] It should have a function to remove a book.
[x] It should have a function to toggle the read status of a book.